  
  /*tablet*/
  @media only screen and (min-width: 421px) {
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    } 
    .flex-column-right {
      flex-wrap: nowrap;
    }
   
  .flex-list {
    display:block;
    
    
  }
  .menu-h {
    display: none;
  }

}
       /* desktop*/
  @media only screen and (min-width: 800px) {
    .flex-container {
      flex-direction: row;
      flex-wrap: nowrap;
    } 
  
  
  }  
 
      
     
     

 
  

    
     
 
  

  
  
  